<div class="section-demographics-form" *ngIf="true">
    <h1 class="title">Patient Demographics Form</h1>
    <form [formGroup]="demographicsForm">
        <div class="row">
            <div class=" col-lg-4 p-4">
                <mat-label class="col-lg-6">First Name </mat-label>
                <strong>{{data.firstName}}</strong>
            </div>
            <div class=" col-lg-4 p-4">
                <mat-label class="col-lg-6">Last Name </mat-label>
                <strong>{{data.lastName}}</strong>
            </div>
            <div class="input-fields col-lg-4 p-4">
                <mat-label class="col-lg-6">Gender </mat-label>
                <strong>{{data.gender}}</strong>
            </div>
            <div class="input-fields col-lg-4" *ngIf="!hideInput">
                <mat-form-field  class="form-element" appearance="legacy">
                    <mat-label>Last Name:</mat-label>
                    <input matInput formControlName="lastName" placeholder="Enter Last Name">
                    <mat-error *ngIf="(demographicsForm.get('lastName')) !.errors?.required">Last Name is required</mat-error>
                </mat-form-field>
            </div>
            <div class="input-fields col-lg-4" *ngIf="!hideInput">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Choose your birthdate</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dob" >
                    <mat-datepicker-toggle matSuffix [for]="picker">
                      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="(demographicsForm.get('dob')) !.errors?.required">Date Of Birth is required</mat-error>
                </mat-form-field>
            </div>
            <div class="input-fields col-lg-4" *ngIf="!hideInput">
                <label for="gender">Gender:</label>
                <mat-radio-group name="gender" formControlName="gender">
                    <mat-radio-button value="Male">Male</mat-radio-button>
                    <mat-radio-button  value="Female">Female</mat-radio-button>
                </mat-radio-group>
            </div> 
            <div class="input-fields col-lg-4">
                <mat-form-field class="form-element" appearance="legacy">
                    <mat-label>Ethnicity</mat-label>
                    <mat-select formControlName="ethnicity">
                      <mat-option *ngFor="let item of allEthnicityOptions" [value]="item.value">
                        {{item.value}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>  
            <div class="input-fields col-lg-4">
                <mat-form-field  class="form-element" appearance="legacy">
                    <mat-label>Education:</mat-label>
                    <input matInput formControlName="education" placeholder="Enter Education Details">
                    <mat-error *ngIf="(demographicsForm.get('education')) !.errors?.required">Education is required</mat-error>
                </mat-form-field>
            </div> 
            <div class="input-fields col-lg-4">
                <mat-form-field  class="form-element" appearance="legacy">
                    <mat-label>Occupation:</mat-label>
                    <input matInput formControlName="occupation" placeholder="Enter Occupation Details">
                    <mat-error *ngIf="(demographicsForm.get('occupation')) !.errors?.required">Occupation is required</mat-error>
                </mat-form-field>
            </div>
            <div class="input-fields col-lg-4">
                <mat-form-field  class="form-element" appearance="legacy">
                    <mat-label>Address:</mat-label>
                    <input matInput formControlName="address" placeholder="Enter Address">
                    <mat-error *ngIf="(demographicsForm.get('address')) !.errors?.required">Address is required</mat-error>
                </mat-form-field>
            </div>
            <div class="input-fields col-lg-4">
                <mat-form-field  class="form-element" appearance="legacy">
                    <mat-label>Contact Info:</mat-label>
                    <input matInput formControlName="mobile" placeholder="Enter Contact Info">
                    <mat-error *ngIf="(demographicsForm.get('mobile')) !.errors?.required">Contact Info is required</mat-error>
        
                </mat-form-field>
            </div> 
            <div class="input-fields col-lg-4">
                <mat-form-field  class="form-element" appearance="legacy">
                    <mat-label>Medical History:</mat-label>
                    <input matInput formControlName="medicalHistory" placeholder="Enter Medical History">
                    <mat-error *ngIf="(demographicsForm.get('medicalHistory')) !.errors?.required">Medical History is required</mat-error>
        
                </mat-form-field>
            </div>
            <div class="input-fields col-lg-4">
                <mat-form-field  class="form-element" appearance="legacy">
                    <mat-label>Famil Medical History:</mat-label>
                    <input matInput formControlName="familymedicalhistory" placeholder="Enter Family Medical History">
                </mat-form-field>
            </div> 
            <div class="input-fields col-lg-4">
                <mat-form-field  class="form-element" appearance="legacy">
                    <mat-label>Surgeries:</mat-label>
                    <input matInput formControlName="surgeries" placeholder="Enter Surgeries Details">
                </mat-form-field>
            </div> 
            <div class="input-fields col-lg-4">
                <mat-form-field  class="form-element" appearance="legacy">
                    <mat-label>Insurance Providers:</mat-label>
                    <input matInput formControlName="insuranceProvider" placeholder="Enter Insurance Providers">
                    <mat-error *ngIf="(demographicsForm.get('insuranceProvider')) !.errors?.required">Insurance Providers is required</mat-error>
                </mat-form-field>
            </div> 
        </div>
    
        <div class="btn-position">
            <button mat-raised-button (click)="onDialogClose()">Cancel</button>&nbsp;&nbsp;
            <button 
                mat-raised-button
                class="btn-width"
                color="primary"
                type="submit" 
                [disabled]="!demographicsForm.valid" 
                [mat-dialog-close]="demographicsForm.value"
            >
                Update Details
            </button>
        </div>
    </form>
</div>