h3 {
    margin : 2px
}

.btn-1{
    background : rgba(255, 99, 132);
    color: white;
    width: 80px;
}
.btn-2 {
    background : rgba(75, 192, 192);
    color: white;
    width: 80px;
}

.btn-3 {
    background : rgba(255, 206, 86);
    color: white;
    width: 80px;
}

.card {
    border : none
}


 