<div>
    <header>
        <h2>{{ modalData.title }}</h2>
    </header>
    <!-- <section>
        <p>{{ modalData.description }}</p>
    </section> -->
    <footer class="footer-content">

        <button mat-raised-button color="primary" (click)= "actionFunction()">{{ modalData.actionButtonText }}</button>

        <!-- <button  mat-button id="modal-action-button" (click)="actionFunction()">
            {{ modalData.actionButtonText }}
        </button>
         -->

        <button mat-raised-button class= "cancel-btn" color="primary" (click)= "closeModal()">Cancel</button>

        <!-- <button  mat-button id="modal-cancel-button" (click)="closeModal()">
           Cancel
        </button> -->
    </footer>
</div>