.cancel-btn{
    /* background-color: lightcoral; */
    /* margin-left: 7% !important; */
  }

.footer-content{
    /* margin-top: 15%; */
    text-align: center;
}

/* .logout-btn{
    background-color: #7066e0;
} */

.title{
    text-align: center;
}

.show-initial-details{
	/* padding: 3%; */
	text-align: center;
	color: rgb(149 154 160)
}

.modal-desc{
    text-align: center;
}