<div>
    <header>
        <!-- <h2 class="title">{{ modalData.title }}</h2> -->
        <div class="show-initial-details">
            <h2 class="title" >{{ modalData.title }}</h2>
            <mat-divider></mat-divider>
        </div>
    </header>
    <div>
        <h3 class="modal-desc">{{ modalData.description }}</h3>
    </div>
    <footer class="footer-content mt-4">
        <button class= "btn text-danger cancel-btn m-3" (click)= "closeModal()">Cancel</button>
        <button mat-raised-button color="primary" class="m-3" (click)= "actionFunction()">{{ modalData.actionButtonText }}</button>
    </footer>
</div>