.section-billing-form{
  padding: 3%;
}

.header{
  text-align: center;
  text-transform: uppercase;
  color: rgb(149 154 160);
  font-size: 22px;
}

.btn-position{

  margin: 2px auto 4px auto;
}

.left-align{
  width: 40%;
  margin-bottom: 3px; 
  float: left;
}

.right-align{
  width: 60%;
  float: right;
}

.payment-history-title{
  text-align: center;
  text-decoration: underline;
}

.bill-details-title{
  margin: auto;
  text-decoration: underline;
}

table{
  margin: auto;
  width: 100%;
}

.inner-form{
  width: 80%; 
  margin: auto;
}

.inner-table{
  width: 80%;
  margin: auto;
}

.inner-table-header{
  /* padding-left: 8px; */
  padding: 8px 5px;
  font-weight: normal;
}

.inner-table-data{
  font-weight: bold;
}