.my-profile-section{
    text-align: center;
    width: 100%;
    padding: 0 20px;
}

.header{
    text-align: center;
    text-transform: uppercase;
    color: rgb(149 154 160);
    font-size: 22px;
}

.img-div{
    padding: 6% 0 0 2%;
}

img{
    border-radius: 50%;
}

strong{
    text-align: left;
}

button .mat-primary{
    background-color: rgb(236, 255, 208);
    color: rgb(10, 94, 10);
    padding: auto 10px;
}

.mat-drawer-inner-container::-webkit-scrollbar {
    display: none;
}

form{
    padding: 16px;
}

.form-element {
    width: 90%;
    margin: auto;
}

.profileDetails ::ng-deep .mat-form-field-flex { padding: 0 0.5em 0.5em 0.5em !important;}
.profileDetails ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0 0 0 0.5em !important;}
.profileDetails ::ng-deep .mat-form-field-wrapper { background-color: #fff !important;}

.disabled{
    
    background-color: rgba(0,0,0,.04);
}

.mat-input-element:disabled{
    color: #000;
}