<div class="my-profile-section row"  *ngIf="showDetails">
    <h3 class="col-lg-12 header pb-3">My Profile </h3>
    <mat-divider class="col-lg-12 mb-4"></mat-divider>
    <div class="col-lg-3 text-center mt-2">
        <div class="pt-4">
            <img src="../../../assets/images/demo-user.png" alt="profile image" width="110" height="110">
        </div>
        <div class="pt-4" >
            <strong [ngStyle]="{'font-size':'0.85rem', 'text-transform':'uppercase'}">{{userDetail.userName}}</strong>
        </div> 
    </div>
    <div class="col-lg-9 profileDetails" *ngIf="showDetails">
        <form [formGroup]="profileForm"  class="row">
            <div class="col-lg-6 row">
                <label for="firstname" class="col-lg-3 text-left pt-3 ">First Name: </label>
                <div class="col-lg-9">
                    <mat-form-field appearance="fill" class="form-element" [ngClass]="{'disabled':showInputFields}">
                        <input matInput name="firstname" type="text" formControlName="firstName">
                    </mat-form-field>
                </div>
            </div>
            <div class="row col-lg-6">
                <label for="lastname" class="col-lg-3 text-left pt-3">Last Name: </label>
                <div class="col-lg-9">
                    <mat-form-field appearance="fill" class="form-element" [ngClass]="{'disabled':showInputFields}">
                        <input matInput name="lastname" type="text" formControlName="lastName" >
                    </mat-form-field>
                </div>           
            </div>
            <div class="row col-lg-6">
                <label for="username" class="col-lg-3 text-left pt-3">User Name: </label>
                <div class="col-lg-9">
                    <mat-form-field appearance="fill" class="form-element" [ngClass]="{'disabled':showInputFields}">
                        <input matInput name="username" type="text" formControlName="userName" >
                    </mat-form-field>
                </div>           
            </div>
            <div class="col-lg-6 row">
                <label for="email" class="col-lg-3 text-left pt-3">Email: </label>
                <div class="col-lg-9">
                    <mat-form-field appearance="fill" class="form-element" [ngClass]="{'disabled':showInputFields}">
                        <input matInput name="email" type="email" formControlName="email" >
                    </mat-form-field>
                </div>           
            </div>
            <div class="col-lg-6 row">
                <label for="role" class="col-lg-3 text-left pt-3">Role: </label>
                <div class="col-lg-9">
                    <mat-form-field appearance="fill" class="form-element" [ngClass]="{'disabled':showInputFields}">
                        <input matInput name="role" type="text" formControlName="role" >
                    </mat-form-field>
                </div>
            </div>
            <div class="col-lg-6 row">
                <label for="dob" class="col-lg-3 text-left pt-3">Date Of Birth: </label>
                <div class="col-lg-9">
                    <mat-form-field appearance="fill" class="form-element" [ngClass]="{'disabled':showInputFields}">
                        <input matInput name="dob" type="date" formControlName="dob" >
                    </mat-form-field>
                </div>           
            </div>
            <div class="col-lg-6 row">
                <label for="mobile" class="col-lg-3 text-left pt-3">Mobile: </label>
                <div class="col-lg-9">
                    <mat-form-field appearance="fill" class="form-element" [ngClass]="{'disabled':showInputFields}">
                        <input matInput name="mobile" type="number" formControlName="mobile">
                    </mat-form-field>
                </div>
            </div>
            <div class="mt-4 col-lg-12">
                <button mat-raised-button color="primary" (click)="editProfile()" class="mr-3" *ngIf="showInputFields">Edit Details</button>
                <button mat-raised-button class="mr-3" (click)="onCancelClick()" *ngIf="!showInputFields" >Cancel</button>
                <button mat-raised-button color="primary" (click)="onSaveDetails(profileForm)"  *ngIf="!showInputFields" class="mr-3 bg-success">Save Details</button>
                
            </div>
        </form>
    </div>
</div>