<div class="scheduleAppointmentForm">
    <div class="physicianForm">
      <mat-card-content>
        <form [formGroup]="physicianForm" (ngSubmit)="submitPhysicianForm()" autocomplete="off">
          <div class="container">
            <mat-form-field class="form-element" appearance="fill">
              <mat-label>Meeting title</mat-label>
              <input type="text" matInput formControlName="meetingTitle" required/>
              <!-- <mat-error *ngIf="physicianForm.invalid || physicianForm.touched">
                Please enter your Meeting title
              </mat-error> -->
              <mat-error *ngIf="(physicianForm.get('meetingTitle')) !.errors?.required">
                Please enter your Meeting title
              </mat-error>
              <mat-error *ngIf="(physicianForm.get('meetingTitle')) !.errors?.pattern">
                Meeting title can only contain letters.
              </mat-error>
            </mat-form-field>
  
            <mat-form-field class="form-element" appearance="fill">
              <mat-label>Description</mat-label>
              <textarea type="text" matInput formControlName="description" required></textarea>
              <mat-error *ngIf="physicianForm.invalid || physicianForm.touched">
                Please enter description
              </mat-error>
            </mat-form-field>

            <mat-form-field class="form-element" appearance="fill">
              <mat-label>Physician</mat-label>
              <mat-select formControlName="physician" required>
                <mat-option value="physician1">physician1</mat-option>
                <mat-option value="physician2">physician2</mat-option>
                <mat-option value="physician3">physician3</mat-option>
                <mat-option value="physician4">physician4</mat-option>
              </mat-select>
              <mat-error *ngIf="physicianForm.invalid || physicianForm.touched">
                Please select physician
              </mat-error>
            </mat-form-field>
  
            <!-- <mat-form-field class="form-element" appearance="fill" appearance="fill">
              <mat-label>Date (MM/DD/YYYY)</mat-label>
              <input [matDatepicker]="dp" matInput formControlName="date" required/>
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp></mat-datepicker>
              <mat-error *ngIf="physicianForm.invalid || physicianForm.touched">
                Please enter your Date Of Appointment
              </mat-error>
            </mat-form-field> -->

            <mat-form-field class="form-element" appearance="fill" appearance="fill">
              <mat-label>Please select Date and Time of appointment</mat-label>
              <input matInput type="datetime-local" formControlName="time" required/>
              <mat-error *ngIf="physicianForm.invalid || physicianForm.touched">
                Please enter your appointment date and time
              </mat-error>
            </mat-form-field>

            <!-- <mat-form-field class="form-element" appearance="fill">
              <mat-label>Reason</mat-label>
              <textarea type="text" matInput formControlName="reason" required></textarea>
              <mat-error *ngIf="physicianForm.invalid || physicianForm.touched">
                Please enter reason
              </mat-error>
            </mat-form-field> -->

            <mat-form-field class="form-element" appearance="fill">
              <mat-label>Contact</mat-label>
              <input matInput formControlName="mobile" required/>
              <mat-error *ngIf="physicianForm.invalid || physicianForm.touched">
                Please enter a 10 digit phone number
              </mat-error>
              <!-- <mat-error *ngIf="(physicianForm.get('mobile')) !.errors?.pattern">
                Please enter a valid contact number
              </mat-error> -->
            </mat-form-field>
  
            <div class="btn-position">
              <button class="bookAppointment" mat-raised-button color="accent" (click)="submitPhysicianForm()" [disabled]="!physicianForm.valid">Book Appointment</button>
              <button class="bookAppointment" mat-raised-button color="accent" (click)="onClose()">Cancel</button>
            </div>
            
          </div>
        </form>
      </mat-card-content>
    </div>
  </div>