.scheduleAppointmentForm {
    /* background: url('/assets/images/schedule-appoint-bg-img.jfif') no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%; 
    filter: blur(8px); */
    position: relative;
}

.schedule-Appointment-Form-container {
    box-shadow: 5px 10px 8px 10px rgba(165, 162, 162, 0.589);
}

mat-option.time-option {
    width: 40%;
    display: inline-flex;
    border: 1px solid darkgray;
    border-radius: 50px;
    text-align: center;
    margin: 5%;
}

/* .scheduleAppointmentForm img {
    vertical-align: middle;
} */
/* .schedule-Appointment-Form-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(-90%);
    background: #fff;
    opacity: 0.9;
    color: #333;
} */
/* .scheduleAppointmentForm .physicianForm .container {
    background: antiquewhite;
    box-shadow: 5px 10px 8px 10px darksalmon;
} */

mat-card.physicianForm {
    box-shadow: none;
}
.physicianForm mat-form-field {
    padding: 2%;
    display: block;
    width: 50%;
    margin: 0 auto;
}
mat-form-field input,
mat-form-field textarea,
mat-form-field mat-select {
    display: inline-block;
    width: 100%;
    padding: 1%;
}
.physicianForm .btn-position {
    text-align: center;
}
/* .physicianForm .btn-position .bookAppointment {
    padding: 2px 30px;
    margin-right: 10px;
    border-radius: 20px;
    border: 1px solid black;
    cursor: pointer;
    margin-bottom: 20px;
} */

.bookAppointment {
 background: #008641;
 color: #fff;
}

.bookAppointment.Cancel-btn {
    background: #f44336;
    color: #fff;
}

/* media query  */
@media screen and (max-width: 767px) {
    /* .scheduleAppointment h2 {
        width: fit-content;
    } */
    .physicianForm mat-form-field {
        display: block;
        width: 100%;
    }
}

.header{
    text-align: center;
    text-transform: uppercase;
    color: rgb(149 154 160);
    font-size: 22px;
}
