.scheduleAppointmentForm .physicianForm .container {
    /* box-shadow: 5px 10px 8px 10px antiquewhite;
    background: aliceblue; */
    background: antiquewhite;
    box-shadow: 5px 10px 8px 10px darksalmon;
}

mat-card.physicianForm {
    box-shadow: none;
}
.physicianForm mat-form-field {
    padding: 2%;
    display: block;
    width: 50%;
    margin: 0 auto;
}
mat-form-field input,
mat-form-field textarea,
mat-form-field mat-select {
    display: inline-block;
    width: 100%;
    padding: 1%;
}
.physicianForm .btn-position {
    text-align: center;
}
.physicianForm .btn-position .bookAppointment {
    padding: 2px 30px;
    margin-right: 10px;
    border-radius: 20px;
    border: 1px solid black;
    cursor: pointer;
    margin-bottom: 20px;
}

.bookAppointment.btn-success {
 background: #008641;
 color: #fff;
}

/* media query  */
@media screen and (max-width: 767px) {
    /* .scheduleAppointment h2 {
        width: fit-content;
    } */
    .physicianForm mat-form-field {
        display: block;
        width: 100%;
    }
}