<h3 class="header pb-3">
  Schedule Appointment
</h3>
<mat-divider></mat-divider>
<div class="scheduleAppointmentForm">
  <div class="physicianForm">

    <mat-card-content>
      <form class="d-flex justify-content-center align-items-center" [formGroup]="physicianForm" autocomplete="off" (ngSubmit)="submitPhysicianForm()">
        <div class="container row col-lg-10 m-4 p-2">
          <mat-form-field class="form-element col-lg-5" appearance="fill">
            <mat-label>Meeting title</mat-label>
            <input type="text" matInput formControlName="meetingTitle" required />
            <!-- <mat-error *ngIf="physicianForm.invalid || physicianForm.touched">
                  Please enter your Meeting title
                </mat-error> -->
            <mat-error *ngIf="(physicianForm.get('meetingTitle')) !.errors?.required">
              Please enter your Meeting title
            </mat-error>
            <mat-error *ngIf="(physicianForm.get('meetingTitle')) !.errors?.pattern">
              Meeting title can only contain letters.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-element col-lg-5" appearance="fill" *ngIf="showDetails">
            <mat-label>Physician</mat-label>
            <mat-select formControlName="physician" required [ngModel]="selectPhysician.name"  (selectionChange)="onSelect($event.value)">
              <mat-option *ngFor="let physician of physicians; index as i" [value]="physician.name">
                {{physician.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="physicianForm.invalid || physicianForm.touched">
              Please select physician
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-element col-lg-5" appearance="fill">
            <mat-label>Please select the date of appointment</mat-label>
            <mat-select formControlName="date" required>
              <mat-option *ngFor="let date of currentDate" [value]="date">
               {{date}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="physicianForm.invalid || physicianForm.touched">
              Please select date of appointment
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-element col-lg-5" appearance="fill">
            <mat-label>Please select the time of appointment</mat-label>
            <mat-select formControlName="time" required>
              <mat-option *ngFor="let time of currentTime" [value]="time">
                {{time}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="physicianForm.invalid || physicianForm.touched">
              Please select time of appointment
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-element col-lg-5" appearance="fill">
            <mat-label>Contact</mat-label>
            <input matInput formControlName="mobile" required />
            <mat-error *ngIf="physicianForm.invalid || physicianForm.touched">
              Please enter a 10 digit phone number
            </mat-error>
            <!-- <mat-error *ngIf="(physicianForm.get('mobile')) !.errors?.pattern">
                  Please enter a valid contact number
                </mat-error> -->
          </mat-form-field>

          <mat-form-field class="form-element col-lg-5" appearance="fill">
            <mat-label>Description</mat-label>
            <textarea type="text" matInput formControlName="description" required></textarea>
            <mat-error *ngIf="physicianForm.invalid || physicianForm.touched">
              Please enter description
            </mat-error>
          </mat-form-field>

          <div class="btn-position col-lg-12">
            <button mat-raised-button  color="primary" type="submit" class="text-white mr-3" [ngStyle]="{'background-color':'#3f51b5'}"
              [disabled]="!physicianForm.valid">Book Appointment</button>
            <button class="Cancel-btn text-white" color="warn" mat-raised-button (click)="onClose()">Cancel</button>
          </div>

        </div>
      </form>
    </mat-card-content>
  </div>
</div>