
mat-sidenav{
    width: 20%;
}

.list-item{
    padding: 3% 3%;
  

}

mat-toolbar{
    padding: 1%;
}

button{
    margin: 0 16px;
}

h1{
    margin: 0 16px;
}

.logout-btn{
    margin-left: 75%;

}

/* mat-toolbar{
    background-color: rgb(140, 117, 247);
    color: azure;
}

mat-sidenav{
    background-color: rgb(157, 193, 228);
    color: azure;
} */