.show-initial-details{
  text-align: center;
  color: rgb(149 154 160);
  width:98%;
}


.show-demographics{
  width: 94%;
  margin: auto;
  /* background-color: rgb(219 229 242); */
  /* background: aliceblue;
  box-shadow: 5px 10px 8px 10px antiquewhite; */
  /* background: antiquewhite;
  box-shadow: 5px 10px 8px 10px darksalmon; */
}

mat-list-item{
  text-align: left;
}
.header{
  text-align: center;
  text-transform: uppercase;
  color: rgb(149 154 160);
  font-size: 22px;
}

table{
  width: 100%;
}

.table-basicDetails {
  width: 66%;
  margin: auto;
}

th.mat-header-cell {
  text-align: center; 
}

.sub-header{
  font-size: 24px;
  color: #111;
}