<div class="show-initial-details">
    <h1 [ngStyle]="{'text-transform': 'uppercase'}" class="pt-3">Patient Demographics Details</h1>
    <mat-divider></mat-divider>
    <div class="show-demographics" *ngIf="showDetails">
        <div class="row">
            <div class="col-lg-5">
                <h2 class="header-basic-details">Basic Details</h2>
                <mat-list>
                    <mat-list-item class="row">
                        <mat-label class="col-lg-5">First Name </mat-label>
                        <div class="col-lg-7">
                            <strong>{{demographicsData.firstName}}</strong>
                        </div>
                    </mat-list-item>
                    <mat-list-item class="row">
                        <mat-label class="col-lg-5">Last Name </mat-label>
                        <div class="col-lg-7">
                            <strong>{{demographicsData.lastName}}</strong>
                        </div>
                    </mat-list-item>
                    <mat-list-item class="row">
                        <mat-label class="col-lg-5">Date Of Birth </mat-label>
                        <div class="col-lg-7">
                            <strong>{{demographicsData.dob}}</strong>
                        </div>
                    </mat-list-item>
                    <mat-list-item class="row">
                        <mat-label class="col-lg-5">Gender: </mat-label>
                        <div class="col-lg-7">
                            <strong>{{demographicsData.gender}}</strong>
                        </div>
                    </mat-list-item>
                </mat-list>
            </div>
            <div class="col-lg-6">
                <h2>Demographics Details</h2>
                <mat-list>
                    <mat-list-item class="row">
                        <mat-label class="col-lg-5">Ethnicity </mat-label>
                        <div class="col-lg-7">
                            <strong>{{demographicsData.ethnicity}}</strong>
                        </div>
                    </mat-list-item>
                    <mat-list-item class="row">
                        <mat-label class="col-lg-5">Education </mat-label>
                        <div class="col-lg-7">
                            <strong>{{demographicsData.education}}</strong>
                        </div>
                    </mat-list-item>
                    <mat-list-item class="row">
                        <mat-label class="col-lg-5">Occupation </mat-label>
                        <div class="col-lg-7">
                            <strong>{{demographicsData.occupation}}</strong>
                        </div>
                    </mat-list-item>
                    <mat-list-item class="row">
                        <mat-label class="col-lg-5">Contact Info </mat-label>
                        <div class="col-lg-7">
                            <strong>{{demographicsData.mobile}}</strong>
                        </div>
                    </mat-list-item>
                    <mat-list-item class="row">
                        <mat-label class="col-lg-5">Medical History </mat-label>
                        <div class="col-lg-7">
                            <strong>{{demographicsData.medicalHistory}}</strong>
                        </div>
                    </mat-list-item>
                    <mat-list-item class="row">
                        <mat-label class="col-lg-5">Famil Medical History </mat-label>
                        <div class="col-lg-7">
                            <strong>{{demographicsData.familymedicalhistory}}</strong>
                        </div>
                    </mat-list-item>
                    <mat-list-item class="row">
                        <mat-label class="col-lg-5">Surgeries </mat-label>
                        <div class="col-lg-7">
                            <strong>{{demographicsData.surgeries}}</strong>
                        </div>
                    </mat-list-item>
                    <mat-list-item class="row">
                        <mat-label class="col-lg-5">Insurance Providers </mat-label>
                        <div class="col-lg-7">
                            <strong>{{demographicsData.insuranceProvider}}</strong>
                        </div>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
        
    <div class="buttons-footer row mt-3">
        <div class="col-lg-5"></div>
        <div class="col-lg-12 my-3">
            <button mat-raised-button color="primary" class="demo-btn" (click)="openEditDemoDialog()">Edit Details</button>
        </div>
        <div class="col-lg-5"></div>
    </div>
</div>

