<div class="show-initial-details" *ngIf="true">
    <h1 [ngStyle]="{'text-transform': 'uppercase'}">Patient Demographics Details</h1>
    <mat-divider></mat-divider>
    <div class="show-demographics">
        <mat-list *ngFor="let user of userDetailFields">
            <mat-list-item class="row">
                <div class="col-lg-3"></div>
                <mat-label class="col-lg-3">First Name </mat-label>
                <div class="col-lg-3">
                    <strong>{{user.firstName}}</strong>
                </div>
            </mat-list-item>
            <mat-list-item class="row">
                <div class="col-lg-3"></div>
                <mat-label class="col-lg-3">Last Name </mat-label>
                <div class="col-lg-3">
                    <strong>{{user.lastName}}</strong>
                </div>
            </mat-list-item>
            <mat-list-item class="row">
                <div class="col-lg-3"></div>
                <mat-label class="col-lg-3">Date Of Birth </mat-label>
                <div class="col-lg-3">
                    <strong>{{user.dob}}</strong>
                </div>
            </mat-list-item>
            <mat-list-item class="row">
                <div class="col-lg-3"></div>
                <mat-label class="col-lg-3">Gender: </mat-label>
                <div class="col-lg-3">
                    <strong>{{user.gender}}</strong>
                </div>
            </mat-list-item>
        </mat-list>
        <ng-container *ngIf="showDemographicDetails">
            <mat-list *ngFor="let demodetail of userDemographicsValues">
                <mat-list-item class="row">
                    <div class="col-lg-3"></div>
                    <mat-label class="col-lg-3">Ethnicity </mat-label>
                    <div class="col-lg-3">
                        <strong>{{demodetail.ethnicity}}</strong>
                    </div>
                </mat-list-item>
                <mat-list-item class="row">
                    <div class="col-lg-3"></div>
                    <mat-label class="col-lg-3">Education </mat-label>
                    <div class="col-lg-3">
                        <strong>{{demodetail.education}}</strong>
                    </div>
                </mat-list-item>
                <mat-list-item class="row">
                    <div class="col-lg-3"></div>
                    <mat-label class="col-lg-3">Occupation </mat-label>
                    <div class="col-lg-3">
                        <strong>{{demodetail.occupation}}</strong>
                    </div>
                </mat-list-item>
                <mat-list-item class="row">
                    <div class="col-lg-3"></div>
                    <mat-label class="col-lg-3">Contact Info </mat-label>
                    <div class="col-lg-3">
                        <strong>{{demodetail.mobile}}</strong>
                    </div>
                </mat-list-item>
                <mat-list-item class="row">
                    <div class="col-lg-3"></div>
                    <mat-label class="col-lg-3">Medical History </mat-label>
                    <div class="col-lg-3">
                        <strong>{{demodetail.medicalHistory}}</strong>
                    </div>
                </mat-list-item>
                <mat-list-item class="row">
                    <div class="col-lg-3"></div>
                    <mat-label class="col-lg-3">Famil Medical History </mat-label>
                    <div class="col-lg-3">
                        <strong>{{demodetail.familymedicalHistory}}</strong>
                    </div>
                </mat-list-item>
                <mat-list-item class="row">
                    <div class="col-lg-3"></div>
                    <mat-label class="col-lg-3">Surgeries </mat-label>
                    <div class="col-lg-3">
                        <strong>{{demodetail.surgeries}}</strong>
                    </div>
                </mat-list-item>
                <mat-list-item class="row">
                    <div class="col-lg-3"></div>
                    <mat-label class="col-lg-3">Insurance Providers </mat-label>
                    <div class="col-lg-3">
                        <strong>{{demodetail.insuranceProviders}}</strong>
                    </div>
                </mat-list-item>
            </mat-list>
        </ng-container>
    </div>
    <div class="buttons-footer row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <button mat-raised-button color="primary" class="demo-btn" (click)="openEditDemoDialog()">Edit Details</button>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>

