.show-initial-details{
  text-align: center;
  color: rgb(149 154 160)
}


.show-demographics{
  width: 100%;
  margin:  auto;
  background-color: rgb(219 229 242);
  padding: 16px;
  
}

mat-list-item{
  text-align: left;
}