<div>
  <mat-sidenav-container >
    <mat-sidenav #sidenav opened mode="side">
      <h2 class="home">
        <i class='fa fa-heartbeat fa-1x' style='color:#007fff'></i>
        <strong class="app-name">PatPor</strong>
      </h2>
      <mat-nav-list>
        <div class="list-item">
          <a mat-list-item routerLinkActive="active" [routerLink]="['/patient/dashboard']" [routerLinkActiveOptions]="{exact: true}">
            <i class="material-icons" style="font-size: 24px;">dashboard</i>
            <span class="main-route-title">Dashboard</span>
          </a>
        </div>
        <div class="list-item">
          <a mat-list-item routerLinkActive="active" [routerLink]="['my-profile']">
            <span class="material-icons" style="font-size: 24px;">person</span>
            <span class="main-route-title">Profile</span>
          </a>
        </div>
        <div class="list-item">
          <a mat-list-item routerLinkActive="active" [routerLink]="['schedule-appointment']">
            <span class="material-icons">calendar_today</span>
            <span class="main-route-title">Appoinment</span>
          </a>
        </div>
        <div class="list-item">
          <a mat-list-item routerLinkActive="active" [routerLink]="['appointment-history']">
            <span class="material-icons">history</span>
            <span class="main-route-title">History</span>
          </a>
        </div>
        <div class="list-item">
          <a mat-list-item routerLinkActive="active" [routerLink]="['demographics']">
            <span class="material-icons" style="font-size: 24px;">analytics</span>
            <span class="main-route-title">Demographics</span>
          </a>
        </div>
        <div class="list-item">
          <a mat-list-item routerLinkActive="active" [routerLink]="['medications-allergies']">
            <span class="material-icons" style="font-size: 24px;">medication</span>
            <span class="main-route-title">Medications</span>
          </a>
        </div>
        <div class="list-item">
          <a mat-list-item routerLinkActive="active" [routerLink]="['immunization']">
            <span class="material-icons" style="font-size: 24px;">vaccines</span>
            <span class="main-route-title">Immunization</span>
          </a>
        </div>
        <div class="list-item">
          <a mat-list-item routerLinkActive="active" [routerLink]="['vitals']">
            <span class="material-icons" style="font-size: 24px;">info</span>
            <span class="main-route-title">Patient Vitals</span>
          </a>
        </div>
        <div class="list-item">
          <a mat-list-item routerLinkActive="active" [routerLink]="['billing']">
            <span class="material-icons" style="font-size: 24px;">payments</span>
            <span class="main-route-title">Billing</span>
          </a>
        </div>
  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container> 
  
 </div>