<!--<mat-card class="medications-card">
        <mat-card-title class="title">Medications And Allergies</mat-card-title>
        <mat-card-content>
            
        </mat-card-content>
    </mat-card>
 -->
 <div class="section-medications">
    <h1 class="title">Medications And Allergies</h1>
<form [formGroup]="medicationForm" (ngSubmit)="onSubmitClick(medicationForm)">
    <div class="input-fields">
        <mat-form-field  class="form-element" appearance="legacy">
            <mat-label>Current Medications</mat-label>
            <textarea matInput formControlName="current_medication" placeholder="Enter Current Medications"></textarea>
            <mat-error *ngIf="(medicationForm.get('current_medication')) !.errors?.required">This field is required</mat-error>
        </mat-form-field>
    </div>
    <div class="input-fields">
        <mat-form-field  class="form-element" appearance="legacy">
            <mat-label>OTC medication</mat-label>
            <textarea matInput formControlName="otc" placeholder="Enter OTC(over the counter) medication"></textarea>
            <mat-error *ngIf="(medicationForm.get('otc')) !.errors?.required">This field is required</mat-error>
        </mat-form-field>
    </div>
    <div class="input-fields">
        <mat-form-field  class="form-element" appearance="legacy">
            <mat-label>Herbs/Vitamin/Minerals/Antibiotic</mat-label>
            <textarea matInput formControlName="antibiotics" placeholder="Enter Herbs/Vitamin/Minerals/Antibiotic"></textarea>
            <mat-error *ngIf="(medicationForm.get('antibiotics')) !.errors?.required">This field is required</mat-error>
        </mat-form-field>
    </div>
    <div class="input-fields">
        <mat-form-field  class="form-element" appearance="legacy">
            <mat-label>Social Drugs</mat-label>
            <textarea matInput formControlName="social_drugs" placeholder="Enter social drugs"></textarea>
            <mat-error *ngIf="(medicationForm.get('social_drugs')) !.errors?.required">This field is required</mat-error>
        </mat-form-field>
    </div>
    <div class="input-fields">
        <mat-form-field  class="form-element" appearance="legacy">
            <mat-label>Past Medications</mat-label>
            <textarea matInput formControlName="past_medication" placeholder="Any past prescribed medicine"></textarea>
        </mat-form-field>
    </div>
    <div class="input-fields">
        <mat-form-field  class="form-element" appearance="legacy">
            <mat-label>Drug Allergies</mat-label>
            <textarea matInput formControlName="drug_allergies" placeholder="Enter Drug Allergies"></textarea>
            <mat-error *ngIf="(medicationForm.get('drug_allergies')) !.errors?.required">This field is required</mat-error>
        </mat-form-field>
    </div>
    <div class="input-fields">
        <mat-form-field  class="form-element" appearance="legacy">
            <mat-label>Other Allergies</mat-label>
            <textarea matInput formControlName="other_allergies" placeholder="Enter Other Allergies"></textarea>
            <mat-error *ngIf="(medicationForm.get('other_allergies')) !.errors?.required">This field is required</mat-error>
        </mat-form-field>
    </div>

    <div class="btn-position">
        <button mat-raised-button  class="btn-width" color="primary" type="submit" [disabled]="!medicationForm.valid">Update Details</button>
    </div>
</form>
</div>
