<div class="show-initial-details" *ngIf="true">
    <h1 class="header pb-3">Medications And Allergies</h1>
    <mat-divider></mat-divider>
    <div class="show-medications">
        <ng-container *ngIf ="!showMedicationDetails">
            No Medication Details Found
        </ng-container>
        
        <ng-container *ngIf="showMedicationDetails">
            <mat-list *ngFor="let medidetail of userMedicationValues">
                <mat-list-item class="row">
                    <mat-label class="col-lg-6">Ethnicity </mat-label>
                    <div class="col-lg-6">
                        <strong>{{medidetail.current_medication}}</strong>
                    </div>
                </mat-list-item>
                <mat-list-item class="row">
                    <mat-label class="col-lg-6">Education </mat-label>
                    <div class="col-lg-6">
                        <strong>{{medidetail.otc}}</strong>
                    </div>
                </mat-list-item>
                <mat-list-item class="row">
                    <mat-label class="col-lg-6">Occupation </mat-label>
                    <div class="col-lg-6">
                        <strong>{{medidetail.antibiotics}}</strong>
                    </div>
                </mat-list-item>
                <mat-list-item class="row">
                    <mat-label class="col-lg-6">Contact Info </mat-label>
                    <div class="col-lg-6">
                        <strong>{{medidetail.social_drugs}}</strong>
                    </div>
                </mat-list-item>
                <mat-list-item class="row">
                    <mat-label class="col-lg-6">Medical History </mat-label>
                    <div class="col-lg-6">
                        <strong>{{medidetail.past_medication}}</strong>
                    </div>
                </mat-list-item>
                <mat-list-item class="row">
                    <mat-label class="col-lg-6">Famil Medical History </mat-label>
                    <div class="col-lg-6">
                        <strong>{{medidetail.drug_allergies}}</strong>
                    </div>
                </mat-list-item>
                <mat-list-item class="row">
                    <mat-label class="col-lg-6">Surgeries </mat-label>
                    <div class="col-lg-6">
                        <strong>{{medidetail.other_allergies}}</strong>
                    </div>
                </mat-list-item>
            </mat-list>
        </ng-container>
    </div>
    <div class="buttons-footer row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <button mat-raised-button color="primary" class="demo-btn" (click)="openMediactionsDialog()">Add Medication and Allergies Details</button>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>


 