/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body{
    min-height: 100vh;
    background-image: url('./assets/images/bg-doctor.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

