/* :host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */

.registrationForm{
  width: 45%;
  margin: 3% 0 0 14%;
}

.registrationForm mat-card {
  padding: 5% 4%;
  border-radius: 2%;
  background: #fff;
  color: black;
  /* box-shadow: 5px 10px 8px 0px darkcyan; */
  /* background: repeating-linear-gradient(45deg, darkcyan, transparent 100px); */
  /* border: 1px solid darkcyan; */
}

.form-element {
  width: 100%;
}

.link{
  color: rgba(4, 3, 7, 0.7);
  font-size: 11px;
  text-decoration: underline;
  text-transform: uppercase;
}

.btn-position{
  padding: 2% 0 4%;
  text-align: center;
}

.btn-width{
  width: 30%;
}

.center{
  text-align: center;
}

.forgot-password{
  margin-top: 10px;
}

.create-account{
  text-align: center;
  margin-top: 10px;
}

.mat-form-field {
  display: inline-block;
  width: 50%;
  padding: 0.5% 3%;
  
}

.submit-btn{
  background: #008641;
}

mat-card-title{
  padding: 3% 0;
  text-align: center;
  text-transform: uppercase;
}

mat-card-content{
  padding-top: 2%;
}

mat-label{
  color: black;
}