<div class="container-fluid">
    <h2 class="title">Appointment History</h2>
    <table mat-table [dataSource]="apHistory" matSort  class="table-responsive mat-elevation-z8">
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Appointment Date </th>
            <td mat-cell *matCellDef="let element">
                {{element.date}} </td>
        </ng-container>

        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Appointment Time </th>
            <td mat-cell *matCellDef="let element"> {{element.time }} </td>
        </ng-container>

        <ng-container matColumnDef="physician">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Physician </th>
            <td mat-cell *matCellDef="let element"> {{element.physician}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th  matTooltip="Action" mat-header-cell *matHeaderCellDef mat-sort-header > Status </th>
            <td  mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <ng-container matColumnDef="notes">
            <th  matTooltip="Action" mat-header-cell *matHeaderCellDef mat-sort-header > Notes </th>
            <td  mat-cell *matCellDef="let element"> {{element.notes}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!-- <mat-paginator [pageSizeOptions] ="[10, 20, 25, 100]" showFirstLastButtons></mat-paginator> -->
</div>