.btn-3 {
    background : rgba(255, 206, 86);
    color: white;
    width: 80px;
}

.appointment-history {
    box-shadow: 5px 10px 8px 10px antiquewhite;
    background: aliceblue;
}

.appointment-history-table.table {
    border: 1px solid lightgray;
}