<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-1 mt-5">
            <h2>Appointment History</h2>
            <div class="table-responsive table-hover table-striped">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Appointment Date</th>
                            <th>Appointment Time</th>
                            <th>Physician</th>
                            <th>Status</th>
                            <th>Notes</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let bill of apHistory">
                            <td class="align-middle">{{bill.date}}</td>
                            <td class="align-middle">{{bill.time}}</td>
                            <td class="align-middle">{{bill.physician}}</td>
                            <td class="align-middle">{{bill.status}}</td>
                            <td class="align-middle">{{bill.notes}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>