.reset-card-bg-img {
  background: url('/assets/images/bg-doctor.jpg');
  background-repeat: no-repeat;
  background-size: cover;
   position: relative;
   height: 670px;
   /* display: inline-block;
   width: 60%; */
}

/* .reset-card-bg-img img {
    margin: 10% 15%;
} */
.reset-card-position{
    /* position: absolute;
    top: 150px;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); */

    position: relative;
    width: 100%;
    padding: 7% 10%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* background: #333; */
}

.reset-card{
    /* width: 400px;
    margin: 16px; */
    width: 40%;
    display: block;
    /* display: inline-block; */
    position: relative;
    /* margin: 10% auto 0; */
    /* margin: 5% 0 0 20%; */
    /* margin: 10% 0 0 4%; */
    text-align: center;
    /* background: content-box; */
    box-shadow: 5px 10px 8px 10px darkcyan;
    /* box-shadow: 5px 10px 8px 10px #333; */
    border: 1px solid darkcyan;
    /* padding: 2%; */
    padding: 4% 3%;
    background: #fff;
    color: #333;
    border-radius: 2%;
}

button.Cancel-btn {
    background: #f44336;
    color: #fff;
}

button.Submit-btn {
    background: #008641;
    color: #fff;
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
}

.btn-align{
    margin: 0 8px 0 8px;
}

.mat-card-header{
    margin: 16px 0;
}

