<div class="reset-card-position">
  <mat-card class="reset-card">
    <mat-card-header>
      <mat-card-title>Reset Credentials</mat-card-title>
    </mat-card-header>

    <form  novalidate (submit)="reset()">
        <mat-form-field class="" appearance="fill">
          <mat-label>Phone number</mat-label>
          <input type="text" matInput
                 [formControl] = "phnNumber">
          <mat-error *ngIf="phnNumber.invalid">
            Please enter a 10 digit phone number
          </mat-error>
        </mat-form-field>
        <button  mat-button color="accent">Reset</button>
      </form>
</mat-card>
</div>
