<div class="reset-card-position">
  <mat-card class="reset-card">
    <mat-card-header>
      <mat-card-title>Forgot {{data}}</mat-card-title>
    </mat-card-header>

    <form (submit)="reset($event)">
      <mat-form-field class="" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="text" matInput [formControl]="emailId">
        <mat-error *ngIf="emailId.invalid">
          Please enter a valid email Id
        </mat-error>
      </mat-form-field>

      <button class="btn-align" mat-button type="reset">Cancel</button>
      <button [disabled]="emailId.invalid" class="btn-align" mat-raised-button color="accent" type="submit">Submit</button>
    </form>
  </mat-card>
</div>