.reset-card-position{
    /* position: absolute;
    top: 150px;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); */

    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-card{
    /* width: 400px;
    margin: 16px; */
    width: 30%;
    display: block;
    position: relative;
    margin: 10% auto 0;
    text-align: center;
    background: content-box;
    box-shadow: 5px 10px 8px 10px darkcyan;
    border: 1px solid darkcyan;
    padding: 2%;
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
}

.btn-align{
    margin: 0 8px 0 8px;
}

.mat-card-header{
    margin: 16px 0;
}

