<div class="container-fluid">
    <!-- <h2 class="title">Immunization Details</h2> -->

    <div class="show-initial-details">
        <h2 class="header">Covid Vaccination Details</h2>
    </div>
    <table mat-table [dataSource]="covidVaccinationDetails" matSort  class="table-responsive mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > COVID Vaccine </th>
            <td mat-cell *matCellDef="let element">
                {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="doses">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Number of Doses </th>
            <td mat-cell *matCellDef="let element"> {{ element.doses }} </td>
        </ng-container>

        <ng-container matColumnDef="lastDoseDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Date Of Last Covid Vaccine </th>
            <td mat-cell *matCellDef="let element"> {{ element.lastDoseDate | date: 'dd/M/yy'}} </td>
        </ng-container>


        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element"> <mat-icon class="icon-cursor" (click)="editVaccineDetails(element)" >edit</mat-icon> </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element"> <mat-icon class="icon-cursor" (click)="deleteVaccineRecord(element)" >delete</mat-icon> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <ng-container *ngIf="showLabel">
        <div class="no-records-msg" *ngIf="covidVaccinationDetails.length == 0">
          <h3>No record(s) found ! </h3>
        </div>
    </ng-container>

    <div class="show-initial-details">
        <h2 class="header">Other Vaccination Details</h2>
    </div>

    <table mat-table [dataSource]="otherVaccinationDetails" matSort  class="table-responsive mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Other Vaccine </th>
            <td mat-cell *matCellDef="let element">
                {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="doses">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Number of Doses </th>
            <td mat-cell *matCellDef="let element"> {{ element.doses }} </td>
        </ng-container>

        <ng-container matColumnDef="lastDoseDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Date Of Last Vaccine </th>
            <td mat-cell *matCellDef="let element"> {{ element.lastDoseDate | date: 'dd/M/yy'}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef  > Action </th>
            <td mat-cell *matCellDef="let element"> <mat-icon class="icon-cursor" (click)="editVaccineDetails(element)" >edit</mat-icon> </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef  > </th>
            <td mat-cell *matCellDef="let element"> <mat-icon class="icon-cursor" (click)="deleteVaccineRecord(element)" >delete</mat-icon> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="otherVaccineColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: otherVaccineColumns;"></tr>
    </table>
    <ng-container *ngIf="showLabel">
        <div class="no-records-msg" *ngIf="otherVaccinationDetails.length == 0">
          <h3>No record(s) found ! </h3>
        </div>
    </ng-container>
    <!-- <mat-paginator [pageSizeOptions] ="[10, 20, 25, 100]" showFirstLastButtons></mat-paginator> -->
    <div class="btn-position" >
        <button mat-raised-button color="primary" class="demo-btn" (click)="addVaccineDetails()">Add Immunization Details</button>
    </div>
</div>