.show-initial-details{
  padding: 5%;
  text-align: center;
  color: rgb(149 154 160)
}

.no-records-msg {
  padding-top: 2%;
  text-align: center;
  color: rgb(149 154 160);
}


/* .show-demographics{
  width: 70%;
  margin: 32px auto;
  padding: 3%;
  background: aliceblue;
  box-shadow: 5px 10px 8px 10px antiquewhite;
  padding: 20px;
} */

mat-list-item{
  text-align: left;
}

table{
  width: 90%;
  margin: auto;
}

.mat-column-name {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 35% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.mat-column-doses {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 35% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.mat-column-lastDoseDate {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 23% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.mat-column-edit {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 3% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  /* word-break: break-word; */
}

.mat-column-delete {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.title{
  text-align: center;
}

.show-initial-details{
	padding: 3%;
	text-align: center;
	color: rgb(149 154 160)
}

.mat-header-cell{
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

.icon-cursor{
  cursor: pointer;
  color: lightslategrey;
}


/* dialog css */

.section-demographics-form{
  padding: 3%;
}

.form-element {
  width: 90%;
  margin: auto;
}

.link{
  color: rgba(255,255,255,.7);
}

.btn-position{
  margin-top: 20px;
  text-align: center;
}

.title{
  text-align: center;
  margin-bottom: 32px
}

.input-fields{
  display: block;
  width: 64%;
  padding: 10px 2%;
  margin: 0 auto;
}

mat-radio-button{
  margin-left: 0.7rem;
}

.btn-position{
  text-align: center;
}

.header{
  text-align: center;
  text-transform: uppercase;
  color: rgb(149 154 160);
  font-size: 22px;
}