
<div class="show-initial-details" *ngIf="true">
  <h1 [ngStyle]="{'text-transform': 'uppercase'}">Immunization Details</h1>
  <mat-divider></mat-divider>
  <div class="show-demographics">
      <mat-list *ngFor="let user of userDetailFields">
          <mat-list-item class="row">
              <div class="col-lg-3"></div>
              <mat-label class="col-lg-5">Covid Vaccine Name </mat-label>
              <div class="col-lg-5">
                  <strong>{{user.vaccineName}}</strong>
              </div>
          </mat-list-item>
          <mat-list-item class="row">
              <div class="col-lg-3"></div>
              <mat-label class="col-lg-5">Covid Vaccine Number of Doses </mat-label>
              <div class="col-lg-5">
                  <strong>{{user.vaccineNumberOfDoses}}</strong>
              </div>
          </mat-list-item>
          <mat-list-item class="row">
              <div class="col-lg-3"></div>
              <mat-label class="col-lg-5">Date Of Last Covid Vaccine </mat-label>
              <div class="col-lg-5">
                  <strong>{{user.dateOfLastVaccine}}</strong>
              </div>
          </mat-list-item>
          <mat-list-item class="row">
              <div class="col-lg-3"></div>
              <mat-label class="col-lg-5">Any Other Vaccines </mat-label>
              <div class="col-lg-5">
                  <strong>{{user.anyOtherVaccines}}</strong>
              </div>
          </mat-list-item>
      </mat-list>
      
      
      
  </div>
  <div class="buttons-footer row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
          <button mat-raised-button color="primary" class="demo-btn" (click)="openEditDemoDialog()">Edit Details</button>
      </div>
      <div class="col-lg-4"></div>
  </div>
</div>

