<div class="container-fluid">
    <!-- <h2 class="title">Immunization Details</h2> -->

    <div class="show-initial-details">
        <h2 [ngStyle]="{'text-transform': 'uppercase'}">COVID Vaccination Details</h2>
        <mat-divider></mat-divider>
    </div>
    <table mat-table [dataSource]="covidVaccinationDetails" matSort  class="table-responsive mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > COVID Vaccine </th>
            <td mat-cell *matCellDef="let element">
                {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="doses">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Number of Doses </th>
            <td mat-cell *matCellDef="let element"> {{ element.doses }} </td>
        </ng-container>

        <ng-container matColumnDef="lastDoseDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Date Of Last Covid Vaccine </th>
            <td mat-cell *matCellDef="let element"> {{ element.lastDoseDate}} </td>
        </ng-container>


        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Action </th>
            <td mat-cell *matCellDef="let element"> <mat-icon class="icon-cursor" (click)="editCovidVaccineDetails(element)" >edit</mat-icon> </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > </th>
            <td mat-cell *matCellDef="let element"> <mat-icon class="icon-cursor" (click)="deleteCovidVaccineRecord(element)" >delete</mat-icon> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="show-initial-details">
        <h2 [ngStyle]="{'text-transform': 'uppercase'}">Other Vaccination Details</h2>
        <mat-divider></mat-divider>
    </div>

    <table mat-table [dataSource]="otherVaccinationDetails" matSort  class="table-responsive mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Other Vaccine </th>
            <td mat-cell *matCellDef="let element">
                {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="doses">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Number of Doses </th>
            <td mat-cell *matCellDef="let element"> {{ element.doses }} </td>
        </ng-container>

        <ng-container matColumnDef="lastDoseDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Date Of Last Covid Vaccine </th>
            <td mat-cell *matCellDef="let element"> {{ element.lastDoseDate}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Action </th>
            <td mat-cell *matCellDef="let element"> <mat-icon class="icon-cursor" (click)="editOtherVaccineDetails(element)" >edit</mat-icon> </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > </th>
            <td mat-cell *matCellDef="let element"> <mat-icon class="icon-cursor" (click)="deleteOtherVaccineRecord(element)" >delete</mat-icon> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="otherVaccineColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: otherVaccineColumns;"></tr>
    </table>

    <!-- <mat-paginator [pageSizeOptions] ="[10, 20, 25, 100]" showFirstLastButtons></mat-paginator> -->
</div>