mat-form-field{
	width: 80%;
	margin-right: 20px;
}

mat-grid-tile {
  width: 100%;
	margin-left: 20px;
}

.validation-messg{
	font-weight: 500;
	font-size: large;
	text-align: center;
	margin-top: 23%;
}

.show-initial-details{
	padding: 5%;
	text-align: center;
	color: rgb(149 154 160)
  }

.header{
	text-align: center;
	text-transform: uppercase;
	color: rgb(149 154 160);
	font-size: 22px;
}