<div *ngIf="!noRecordfound">
    <div class="show-initial-details">
        <h1 [ngStyle]="{'text-transform': 'uppercase'}">Patient Vitals</h1>
        <mat-divider></mat-divider>
        <form [formGroup]="patientVitalsForm" autocomplete="off">
                <!-- <mat-grid-tile-header>Order</mat-grid-tile-header> -->

                <mat-grid-list cols="3" rowHeight="100px">
                    <mat-grid-tile>
                        <mat-form-field appearance="legacy">
                            <mat-label>Blood Pressure</mat-label>
                            <input matInput type="text" formControlName="bloodPressure" placeholder="Blood Pressure">
                            <!-- <mat-error *ngIf="(patientVitalsForm.get('bloodPressure')) !.errors?.required">Blood Pressure is required</mat-error> -->
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field appearance="legacy">
                            <mat-label>Pulse</mat-label>
                            <input matInput type="text" formControlName="pulse" placeholder="Pulse">
                            <!-- <mat-error *ngIf="(patientVitalsForm.get('pulse')) !.errors?.required">Pulse is required</mat-error> -->
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field appearance="legacy">
                            <mat-label>Temperature</mat-label>
                            <input matInput type="text" formControlName="temperature" placeholder="Temperature">
                            <!-- <mat-error *ngIf="(patientVitalsForm.get('temperature')) !.errors?.required">Temperature is required</mat-error> -->
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>

                <mat-grid-list cols="3" rowHeight="100px">
                    <mat-grid-tile>
                        <mat-form-field appearance="legacy">
                            <mat-label>Respiration</mat-label>
                            <input matInput type="text" formControlName="respiration" placeholder="Respiration">
                            <!-- <mat-error *ngIf="(patientVitalsForm.get('respiration')) !.errors?.required">Respiration is required</mat-error> -->
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field appearance="legacy">
                            <mat-label>Height</mat-label>
                            <input matInput type="text" formControlName="height" placeholder="Height">
                            <!-- <mat-error *ngIf="(patientVitalsForm.get('height')) !.errors?.required">Height is required</mat-error> -->
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field appearance="legacy">
                            <mat-label>Weight</mat-label>
                            <input matInput type="text" formControlName="weight" placeholder="Weight">
                            <!-- <mat-error *ngIf="(patientVitalsForm.get('weight')) !.errors?.required">Weight is required</mat-error> -->
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>

                <mat-grid-list cols="3" rowHeight="100px">
                    <mat-grid-tile>
                        <mat-form-field appearance="legacy">
                            <mat-label>Procedure Code</mat-label>
                            <input matInput type="text" formControlName="procedureCode" placeholder="Procedure Code">
                            <!-- <mat-error *ngIf="(patientVitalsForm.get('procedureCode')) !.errors?.required">Procedure Code is required</mat-error> -->
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field appearance="legacy">
                            <mat-label>Diagnosis Code</mat-label>
                            <input matInput type="text" formControlName="diagnosisCode" placeholder="Diagnosis Code">
                            <!-- <mat-error *ngIf="(patientVitalsForm.get('diagnosisCode')) !.errors?.required">Diagnosis Code is required</mat-error> -->
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field appearance="legacy">
                            <mat-label>Lab Report</mat-label>
                            <input matInput type="text" formControlName="labReport" placeholder="Lab Report">
                            <!-- <mat-error *ngIf="(patientVitalsForm.get('labReport')) !.errors?.required">Lab Report is required</mat-error> -->
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>

                <mat-grid-list cols="3" rowHeight="100px">
                    <mat-grid-tile>
                        <mat-form-field appearance="legacy">
                            <mat-label>Radiology Reports</mat-label>
                            <input matInput type="text" formControlName="radiologyReports" placeholder="Radiology Reports">
                            <!-- <mat-error *ngIf="(patientVitalsForm.get('radiologyReports')) !.errors?.required">Radiology Reports is required</mat-error> -->
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field appearance="legacy">
                            <mat-label>Medication</mat-label>
                            <input matInput type="text" formControlName="medication" placeholder="Medication">
                            <!-- <mat-error *ngIf="(patientVitalsForm.get('medication')) !.errors?.required">Medication is required</mat-error> -->
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>

            <!-- <mat-grid-tile-footer></mat-grid-tile-footer> -->
        </form>
    </div>
</div>
<div *ngIf=noRecordfound>
    <h3 class= "validation-messg">{{ validationMessage }}</h3>
</div>