.login-position{
   width: 33%;
   margin:5% 0 0 20%;
}

.login-card{
  padding: 7% 3%;
  background: #fff;
  color: black;
  border-radius: 2%;
}

.form-element {
  width: 100%;
}

.link{
  color: rgba(4, 3, 7, 0.7);
  font-size: 11px;
  text-decoration: underline;
  text-transform: uppercase;
}

.btn-position{
  padding: 6% 0 4%;
  text-align: center;
}

.create-account{
  padding: 4% 0 1%;
  text-align: center;
}

.btn-width{
  width: 30%;
  background: #008641;
  color: white;
}

.center{
  text-align: center;
}

mat-label{
  color: black;
}

mat-card-title{
  padding-bottom: 8%;
  padding-top: 5%;
  text-transform: uppercase;
}

div.input-field{
  padding: 2% 10%;
}