.login-position{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.bg-image{
    background-image: url('../../../assets/images/patient-portal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

mat-card {
  background : rgb(112, 128, 153,0.7)
}

.login-card{
  width: 420px;
  height: auto;
}

.form-element {
  width: 100%;
}

.link{
  color: rgba(255,255,255,.7);
}

.btn-position{
  margin-top: 20px;
  text-align: center;
}

.btn-width{
  width: 30%;
}

.center{
  text-align: center;
}

.forgot-password{
  margin-top: 10px;
}

.create-account{
  text-align: center;
  margin-top: 10px;
}