<div class="login-container">
    <h2>Log into Patient Portal</h2>

    <form class="form-group" #loginForm="ngForm">

        <mat-form-field appearance="fill">
            <mat-label class="email">Email</mat-label>
            <mat-label>Enter your Email</mat-label>
            <input matInput  [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label class="password">Password</mat-label>
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

    </form>
    
</div>